# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.Rbuildignore
.RData
.Rhistory
.Rproj.user/2D0BA47B/pcs/debug-breakpoints.pper
.Rproj.user/2D0BA47B/pcs/source-pane.pper
*.pper
*.Rd
*.Rdata
.Rproj.user/2D0BA47B/cpp-definition-cache
.Rproj.user/2D0BA47B/saved_source_markers
.Rproj.user/2D0BA47B/sdb/per/t/43B3D885
.Rproj.user/2D0BA47B/sdb/per/t/69F1243F
.Rproj.user/2D0BA47B/sdb/per/t/6C6EA50D
.Rproj.user/2D0BA47B/sdb/per/t/141AF7EB
.Rproj.user/2D0BA47B/sdb/per/t/CDE51FE2
.Rproj.user/2D0BA47B/sdb/per/t/E0D7BE69
.Rproj.user/2D0BA47B/sdb/per/t/97A4743B
.Rproj.user/2D0BA47B/sdb/prop/4127A9C2
.Rproj.user/2D0BA47B/sdb/prop/6701CFCD
.Rproj.user/2D0BA47B/sdb/prop/6ED337FF
.Rproj.user/2D0BA47B/sdb/prop/806C1AA2
.Rproj.user/2D0BA47B/sdb/prop/90165817
.Rproj.user/2D0BA47B/sdb/prop/2AD84249
.Rproj.user/2D0BA47B/sdb/prop/6DDD9774
.Rproj.user/2D0BA47B/sdb/prop/850B1B72
.Rproj.user/2D0BA47B/sdb/prop/C663D281
.Rproj.user/2D0BA47B/sdb/prop/DCE4A3B6
.Rproj.user/2D0BA47B/sdb/prop/6552FC98
.Rproj.user/2D0BA47B/sdb/prop/DF6210AE
.Rproj.user/2D0BA47B/sdb/prop/A899AB16
.Rproj.user/2D0BA47B/sdb/prop/71720CEB
.Rproj.user/2D0BA47B/sdb/prop/CD9EBC46
.Rproj.user/2D0BA47B/sdb/prop/INDEX
